<!------------------------------------------------------------------------------------------------------------
    - This is the HTML partial that manages the creation of new todo items.
    -
    - Author: Stephen McGuire 26-Oct-2017
    -----------------------------------------------------------------------------------------------------------
-->
 <div class="todoInputWrapper">
    <!--  <input type='text' [(ngModel)]='todoText' value='{{ todoText }}' />
    <button class='btn bt-primary' (click)='addTodo()'>Add</button> -->
    <input value="Enter New Task" #todoItem (keyup.enter)="addItem( todoItem.value); todoItem.value=''" (blur)="addItem( todoItem.value ); todoItem.value=''" />
    
</div>
