<!------------------------------------------------------------------------------------------------------------
    - This is the main HTML partial that builds the list and adds the remove button
    -
    - Author: Stephen McGuire 26-Oct-2017
    -----------------------------------------------------------------------------------------------------------
-->

<div class="toDoApp">
    <div class="toDoWrapper">
        <app-header></app-header>
        <app-todo-input></app-todo-input>
        <div *ngFor='let todo of todoService.getTodos()'>
            <app-todo-item [todo]='todo'></app-todo-item>
        </div>
        <p><button class='removeTodo' (click)="todoService.removeCompletedTasks()">Remove Checked</button></p>
    </div>
</div>